# Security & Credentials
*.jks
*.keystore
.env
secret.properties
local.properties

# Build & Generated Waste
.gradle/
**/build/
!**/src/**/build/
.cxx/
.externalNativeBuild/
captures/
*.apk
*.aab

# IDE Metadata
*.iml
/.idea/

# OS Specific & Diagnostic Noise
.DS_Store
*.log
Thumbs.db
